@import 'src/styles/vars';

.homePage-header{
  background-color: black;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;

  animation-name: fadeIn;
  animation-duration: 5s;

  @keyframes fadeIn {
    from {background-color:white;}
    to {background-color:black;}
  } 

  @include mq() {
    margin: 0 auto;
    width : 100%;
    height: 15vh;
    margin-bottom: 5em;

  };

  &-title{
    width: 100%;
    text-align: center;
    color: white;
    @include mq() {
      font-size:3.3em;
    };
  }
  
}

