@import 'src/styles/vars';

.homePage-header{
  background-color: black;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;

  animation-name: fadeIn;
  animation-duration: 5s;

  @keyframes fadeIn {
    from {background-color:white;}
    to {background-color:black;}
  } 

  @include m767() {
    margin: 0 auto;
    width : 100%;
    height: 15vh;
    margin-bottom: 5em;

  };

  &-title{
    color: white;
    font-size: 2em;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    @include m767() {
      font-size:3.3em;
    };
  }
  
}

