@import 'src/styles/vars';

.chatroom-button {
  background-color: #506761;
  border: none;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;

 &--open {
  position: absolute;
  background-color: #506761;
  border: none;
  color: white;
  border: none;
  height: 1.4em;
  top: 50%;
  left: 0;
 }
}