@import 'src/styles/vars';

.chatroom-button {
  background-color: #506761;
  border: none;
  height: 2em;
  width: 2em;
  border-radius: 4px;
  color: white;
  font-size: 1.4em;
  position: fixed;
  top: 2.5em;
  left: 0;

 &--open {
  position: fixed;
  background-color: #506761;
  border: none;
  color: white;
  border: none;
  height: 2em;
  width: 2em;
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: 1002;
 }
}

@media (min-width: 767px) {

  .chatroom-button {
    background-color: #506761;
    border: none;
    height: 2em;
    width: 2em;
    border-radius: 4px;
    color: white;
    font-size: 1.4em;
    position: fixed;
    bottom: 0;
    right: 0;
  
   &--open {
    position: fixed;
    background-color: #506761;
    border: none;
    color: white;
    border: none;
    height: 2em;
    width: 2em;
    border-radius: 4px;
    top: 0;
    left: 0;
    z-index: 1002;
   }
  }
}

@media (min-width: 1024px) {

  .chatroom-button {
    background-color: #506761;
    border: none;
    height: 2em;
    width: 2em;
    border-radius: 4px;
    color: white;
    font-size: 1.4em;
    position: absolute;
    top: 0;
    right: 0;
  
   &--open {
    position: absolute;
    background-color: #506761;
    border: none;
    color: white;
    border: none;
    height: 2em;
    width: 2em;
    border-radius: 4px;
    top: 6em;
    left: 45em;
   }
  }
}