
  .shared-files {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    top: 0;
    background-color: white;

    button {
      height: 1em;
      background: none;
      border: none;
    }

  &-toggle {
    display: none;
  }
}

@media (min-width: 1024px) {
  
  .shared-files {
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color: rgb(240, 125, 125);
    width: 25%;
    height: 20vh;
    left: 0;

    &-toggle {
      display: flex;
    }
  }
}