// General Styles

.toolsMenu {

  &-list {
    margin: 0 auto;
    display: flex;
    padding: .5em;
    justify-content: space-around;

    ul {
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    button {
      border: none;
      background: none;
    }
  }
}

@media (min-width: 1024px) {

  .toolsMenu {
    display: none;
  }
}
