@import 'src/styles/vars';

// General Styles

.toolsMenu {
  position: fixed;
  background-color: $main-color;
  opacity: 0.8;
  bottom: 0;
  width: 100vw;
  height: 8%;
 
  &:hover {
    opacity: 1;
    transition: opacity 1s;
  }

  &-list {
    height: 1em;
    margin: 0 auto;
    display: flex;
    padding: .5em;
    justify-content: space-around;

    ul {
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    button {
      border: none;
      background: none;
    }

    img {
      width: 3em;
      color: white;
      z-index: 1001;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 767px) {

  .toolsMenu {
   
    height: 6em;
    margin-top: 1em;
    background-color: #494052;

    &-list {
      height: 6em;
      display: flex;
      justify-content: space-around;
      align-items: center;

      img {
        width: 3em;
        color: white;
        z-index: 1001;
    }
  }
}
}

@media (min-width: 1024px) {

  .toolsMenu {
    display: none;
    height: 0;
  }
}
