// General styles
.homepage-navbutton{

  margin: 0 auto;
  font-size: 1.5em;
  
// Button Login
  &-login{
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    border: solid .1em black;
    width: 5.8em;
    &:hover{
      background-color: black;
      color: white;
    }
  }
  
// Button Register
  &-register{
    color: black;
    background-color: white;
    border: solid .1em black;
    font-family: 'Roboto Mono', monospace;
    width: 5.8em;
    justify-content: center;

    &:hover{
      background-color: black;
      color: white;
    }
  }
}
