@import 'src/styles/vars';

// General styles
.homepage-navbutton{
  
// Button Login
  &-login{
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    border: solid .1em black;
    width: 100%;
    justify-content: center;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    margin-bottom: .5em;
    height: 2em;
    @include mq() {
      height: 5em;
      width: 100%;
      display: flex;
    };
    &:hover{
      background-color: black;
      color: white;
      background-position: bottom left;
    }
  }
  
// Button Register
  &-register{
    color: black;
    background-color: white;
    border: solid .1em black;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    height: 2em;
    justify-content: center;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    @include mq() {
      display: flex;
      height: 5em;
      width: 100%;
    };
    &:hover{
      background-color: black;
      color: white;
      background-position: bottom left;
    }
  }
}
