@import 'src/styles/vars';

.player {
  max-width: 15%;
  margin: 0 1em;
  flex-grow: 3;
  
  &-icon {
    height: 3em;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

@media (min-width: 767px) {

  .player {
    
    &-icon {
      height: 7em;
      overflow: hidden;
  
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1024px) {

  .player {
    
    &-icon {
      width: 3em;
      height: 3em;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    &-pseudo {
      font-size: 1em;
    }
  }
}

@media (min-width: 1400px) {

  .player {
    max-width: 10%;
    
    &-icon {
      height: 8em;
      overflow: hidden;
  
      img {
        width: 100%;
      }
    }

    &-pseudo {
      font-size: 0.9em;
    }
  }
}
