@import 'src/styles/vars';

/* .join-room-button {
  position: relative;
  background: white;
  color: black;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 4.3em;
  margin: 0 3em;
  padding: 0.3em;
  border: none;
  
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .ui.modal {
    margin-top: -20em;
  }
} */

.join{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 7em;
  padding: .4em;
  @include m767() {
    height: 15vh;
    width: 25vw;
    padding: .7em;
  };

  &-container{
    @include m767() {
      padding: 1em;
      border: dashed white .2em;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
    };
  }

  img {
    width: 100%;
    border: dashed white .1em;
    padding: 1em;
    @include m767() {
      border: 0;
      position: relative;
      padding: 0;
      height: 7em;
      width: 7em;
    };
  }

  &-text{
    margin-top: .2em;
    @include m767() {
      font-size: 3em;
      display: inline;
      margin: 0;
    };
  }
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .ui.modal {
    margin-top: -20em;
  }
}

.ui.button.join-room-submit {
  margin-top: 1em;
  background-color: black;
  color: white;
}

@media (min-width: 767px) {
  .join-room-button {
    width: 12em;
    height: 5em;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 1024px) {
  .join-room-button {
    display: flex;
    position: absolute;
    width: 12em;
    height: 5em;
    top: 30em;
    left: 2em;
    
  &:hover {
    transform: scale(1.1);
    }
  }
}

@media (min-width: 1600px) {
  .join-room-button {
    display: flex;
    position: absolute;
    width: 12em;
    height: 5em;
    top: 40em;
    left: 10em;
    
  &:hover {
    transform: scale(1.1);
    }
  }
}
