@import 'src/styles/vars';

.join-room-button {
  position: relative;
  background: black;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 8em;
  height: 4.3em;
  margin: 0 3em;
  padding: 0.3em;
  border: none;
  
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .ui.modal {
    margin-top: -20em;
  }
}

.ui.button.join-room-submit {
  margin-top: 1em;
  background-color: black;
  color: white;
}

@media (min-width: 767px) {
  .join-room-button {
    width: 12em;
    height: 5em;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 1024px) {
  .join-room-button {
    display: flex;
    position: absolute;
    width: 12em;
    height: 5em;
    top: 40em;
    left: 5em;
    
  &:hover {
    transform: scale(1.1);
    }
  }
}

@media (min-width: 1600px) {
  .join-room-button {
    display: flex;
    position: absolute;
    width: 12em;
    height: 5em;
    top: 40em;
    left: 10em;
    
  &:hover {
    transform: scale(1.1);
    }
  }
}