@import 'src/styles/vars';

.join-room-icon-svg {
  position: relative;
  background: rgb(109, 109, 109);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 4.5em;
  height: 4.5em;
  margin: 0 3em;
  padding: 0.3em;
  border: none;
  
  &:hover {
    background-color: black;
  }
}

@media (min-width: 767px) {
  .join-room-icon-svg {
    display: flex;
    position: absolute;
    width: 5em;
    height: 5em;
    left: 20em;
    top: 30em;
  
    &-svg {
      align-items: center;
      margin: 0 auto;
    }
  }
}