// scss permet d'utiliser des mixin, https://sass-lang.com/documentation/at-rules/mixin, c'est à dire des instructions réutilisables et paramétrables
// le css écrit à l'intérieur du mixin sera retourné quand on l'incluera

@mixin mq($size: 767px) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin mqb($size: 1200px) {
  @media (min-width: $size) {
    @content;
  }
}

// COLORS

$main-color: #231f20;

$first-color: #d6ad75;
$second-color: #dbb27a;
$third-color: #c32c0d;
