@import 'reset';
@import 'vars';


body {
  font-family: sans-serif;
  height: 100vh;
}

  @font-face {
    font-family: 'Triumph wheels rough';
    src: url('../assets/fonts/Triumph-wheels-rough.ttf');
    font-family: 'Chuck Noon';
    src: url('../assets/fonts/Chuck-Noon.ttf');
    font-family: 'Steelfish';
    src: url('../assets/fonts/steelfish.ttf');
    font-family: 'Zoika';
    src: url('../assets/fonts/zoika.ttf');
    font-family: 'Cairlinn';
    src: url('../assets/fonts/Cairlinn.ttf');
    font-family: 'Black Quality';
    src: url('../assets/fonts/BlackQuality.ttf');
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-regular.ttf');
    font-family: 'Hornbuckle';
    src: url('../assets/fonts/Hornbuckle.ttf');
    font-family: 'Quentin';
    src: url('../assets/fonts/Quentin.otf');
  }

 @font-face {
    font-family: 'Augusta';
    src: url('../assets/fonts/Augusta.ttf');
  }

  @font-face {
    font-family: 'Blacklet';
    src: url('../assets/fonts/Blacklet.ttf');
  }

  @font-face {
    font-family: 'Campanile';
    src: url('../assets/fonts/Campanile.ttf');
  }

