@import 'reset';
@import 'vars';


body {
  font-family: sans-serif;
  height: 100vh;
}

  @font-face {
    font-family: 'Triumph wheels rough';
    src: url('../assets/fonts/Triumph-wheels-rough.ttf');
  }

  @font-face {
    font-family: 'Chuck Noon';
    src: url('../assets/fonts/Chuck-Noon.ttf');
  }

