@import 'reset';
@import 'vars';


body {
  font-family: sans-serif;
  height: 100vh;
}

  @font-face {
    font-family: 'Triumph wheels rough';
    src: url('../assets/fonts/Triumph-wheels-rough.ttf');
    font-family: 'Chuck Noon';
    src: url('../assets/fonts/Chuck-Noon.ttf');
    font-family: 'Steelfish';
    src: url('../assets/fonts/steelfish.ttf');
    font-family: 'Zoika';
    src: url('../assets/fonts/zoika.ttf');
    font-family: 'Cairlinn';
    src: url('../assets/fonts/Cairlinn.ttf');
  }

 /*  @font-face {
    font-family: 'Chuck Noon';
    src: url('../assets/fonts/Chuck-Noon.ttf');
  } */

