@import 'reset';
@import 'vars';


body {
  font-family: sans-serif;
  height: 100vh;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
*/
