.app {
  /*   width: 500px; */
   /*  margin: 1em auto; */
    text-align: center;
  /*   background-image: url('../../../src/assets/CaptureGris.PNG'); */
    background-size: cover;
  }
  
  /* .app img {
    max-width: 150px;
  } */
  