// Mobile-first size : 375(w)*667(h)

.app {
  margin: 0 auto;
  text-align: center;
}

// ROOM

.currentRoom{
  display: flex;
  flex-direction: column;
}

.displayTools{
  border: .3em solid black;
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

