// Mobile-first size : 375(w)*667(h)

.app {
  margin: 0 auto;
  // text-align: center;
  text-align: center;
  /*   background-image: url('../../../src/assets/CaptureGris.PNG'); */
    background-size: cover;
}
