@import 'src/styles/vars';

.navBarRoom {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: #23253a;
  height: 10vh;
  width: 100%;
  top: 0;

  &-title {
    width: 70vw;
    align-self: center;
    
    h1 {
    margin: 0 auto;
    width: 60vw;
    font-weight: bold;
    font-size: 0.9em;
    color: white;
    }

    .room-name {
      font-weight: bold;
      font-size: 2em;
      color: $sixth-color;
      margin-left: 0.5em;
      font-family: 'Triumph wheels rough';
    }
  }
  
  &-ornament {
    display: none;
  }
}

.playersMenu {

  button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    /* z-index: 10; */

    img {
      width: 3em;
    }
  }
}

// MEDIA QUERIES

@media (min-width: 767px) {

  .navBarRoom {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    height: 10vh;
    &-title{
      width: 75vw;
      font-weight: bold;
      font-size: 1.4em;
    }
  }

  .playersMenu {
    img {
      width: 3em;
      margin-top: 1em;
    }
  }
}

@media (min-width: 1024px) {

  .navBarRoom {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    height: 6vw;
    background: none;
   
    &-title{
      margin: 1em auto;
      width: 75vw;

      .room-name {
        display: inline-block;
        margin-top: 0.5em;
        margin-left: 0.4em;
        color: $main-color;
        font-size: 2.2em;
      }
    }
  }

  .playersMenu {
    position: relative;
    top: 0.5em;
    left: 0;

    button {
      display: none;
    }

    img {
      width: 2em;
    }
  }
}

@media (min-width: 1600px) {

  .navBarRoom {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 14vw;
    width: 100%;
    top: 0;
    margin-bottom: 1em;
  
    &-title {
      width: 70vw;
      align-self: center;
      
      h1 {
      margin: 0 auto;
      width: 60vw;
      font-weight: bold;
      font-size: 0.9em;
      color: white;
      }

      .room-name {
        color: $main-color;
        margin: 0 auto;
      }
    }
    &-ornament {
      position: absolute;
      top: 10%;
      left: 35%;
      img {
        width: 22%;
      }
     
    }
  }

  .toggle-menu {
    position: absolute;
    width: 100vw;
    top: 0;

// DROPDOWN MENU

&-dropdown {
  position: absolute;
  z-index: 10;
  right: 0;
  width: 20%;
  height: 100vh;
  background: #f6e7bc;
  opacity: 0.8;
  color: black;
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(+100%);
  transition: transform 0.5s ease-in-out;

  &--open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;

    &-item {
      margin: 1em 0;

      button {
        background: none;
        border: none;
        color: black;
        z-index: 1010;
          }
        }
      }
    }
  }
}