@import 'src/styles/vars';

.navBarRoom {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  border: black solid .2em;
  height: 12.5vw;

  &-title{
    margin: 0 auto;
    width: 75vw;
    font-weight: bold;
  }
}

.playersMenu {

  button {
    background: none;
    border: none;
  }
}

// MEDIA QUERIES

@media (min-width: 1024px) {

  .navBarRoom {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    border: black solid .2em;
    height: 6vw;
    &-title{
      margin: 0 auto;
      width: 75vw;
      font-weight: bold;
    }
  }

  .playersMenu {
    position: relative;
    top: 7em;
    left: 30em;
  }
}
