/* @import 'src/styles/vars';

// RAINDROPS FALL ANIMATION

.raindrop-animation {
  top: 0;
}

.raindrop1 {
  margin: 0 auto;
  margin-top: -0.3em;

  & img {
    width: 2em;
  }
}

.raindrop2 {
  margin-top: -0.3em;
  margin-left: -10em;

  & img {
    width: 1.3em;
  }
}
.raindrop3 {
  margin-top: -0.3em;
  margin-left: 10em;

  & img {
    width: 2em;
  }
}

.raindrop4 {
  margin-top: -0.3em;
  margin-left: 17em;

  & img {
    width: 2em;
  }
}

.raindrop5 {
  margin-top: -0.3em;
  margin-left: 2em;

  & img {
    width: 2.9em;
  }
}

.raindrop1, .raindrop2, .raindrop3, .raindrop4 {
  position: relative;

  & img {
    transform: translateY(0);
    animation: falldown 1.2s linear;
    animation-fill-mode: forwards;
  }

  @keyframes falldown {
    100% {
      transform: translateY(+600%);
    }
  }
}

@media (min-width: 767px) {

  .raindrop-animation {
    position: absolute;
    top: 11em;
  }
  .raindrop1 {
    margin: 0 auto;
    margin-top: -0.7em;
  
    & img {
      width: 1.8em;
    }
  }
  
  .raindrop2 {
    margin-top: -1.2em;
    margin-left: -10em;
  
    & img {
      width: 1.7em;
    }
  }
  .raindrop3 {
    margin-top: -2em;
    margin-left: 10em;
  
    & img {
      width: 2em;
    }
  }
  
  .raindrop4 {
    margin-top: -1.7em;
    margin-left: 17em;
  
    & img {
      width: 2.1em;
    }
  }
  
  .raindrop1, .raindrop2, .raindrop3, .raindrop4 {
    position: relative;
  
    & img {
      transform: translateY(0);
      animation: falldown 1.2s linear;
      animation-fill-mode: forwards;
    }
  
    @keyframes falldown {
      100% {
        transform: translateY(+380%);
      }
    }
  }
  
}


@media (min-width: 1024px) {

  .raindrop-animation {
    position: absolute;
    top: 11em;
  }
  .raindrop1 {
    margin: 0 auto;
    margin-top: -0.7em;
  
    & img {
      width: 1.8em;
    }
  }
  
  .raindrop2 {
    margin-top: -1.2em;
    margin-left: -10em;
  
    & img {
      width: 1.7em;
    }
  }
  .raindrop3 {
    margin-top: -2em;
    margin-left: 10em;
  
    & img {
      width: 2em;
    }
  }
  
  .raindrop4 {
    margin-top: -1.7em;
    margin-left: 17em;
  
    & img {
      width: 2.1em;
    }
  }
  
  .raindrop1, .raindrop2, .raindrop3, .raindrop4 {
    position: relative;
  
    & img {
      transform: translateY(0);
      animation: falldown 1.2s linear;
      animation-fill-mode: forwards;
    }
  
    @keyframes falldown {
      100% {
        transform: translateY(+780%);
      }
    }
  }
}


@media (min-width: 1600px) {

  .raindrop-animation {
    position: absolute;
    top: 11em;
  }
  .raindrop1 {
    margin: 0 auto;
    margin-top: -0.7em;
  
    & img {
      width: 1.8em;
    }
  }
  
  .raindrop2 {
    margin-top: -1.2em;
    margin-left: -10em;
  
    & img {
      width: 1.7em;
    }
  }
  .raindrop3 {
    margin-top: -2em;
    margin-left: 10em;
  
    & img {
      width: 2em;
    }
  }
  
  .raindrop4 {
    margin-top: -1.7em;
    margin-left: 17em;
  
    & img {
      width: 4em;
    }
  }

  .raindrop4::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 13.0px 7.5px;
    border-color: transparent transparent black transparent;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%, 0); 
  
  .raindrop1, .raindrop2, .raindrop3, .raindrop4 {
    position: relative;
  
    & img {
      transform: translateY(0);
      animation: falldown 1.2s linear;
      animation-fill-mode: forwards;
    }
  
    @keyframes falldown {
      100% {
        transform: translateY(+780%);
      }
    }
  }
}

.water-drop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  z-index: 10;
  width: 0;
  height: 0;
  border: 10px solid black;
  border-radius: 1000px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transform: translate(0, -100px) scale(1, 1);
  animation: water-drop 3000ms cubic-bezier(.56, .18, .92, .69) infinite;
}
.water-drop::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 13.0px 7.5px;
  border-color: transparent transparent black transparent;
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translate(-50%, 0);  
}
@keyframes water-drop {
  0% {
    opacity: 0;
    z-index: 10;
    transform: translate(0, -100px) scale(1, 1);
  }
  50% {
    opacity: 1;
    z-index: 10;
    transform: translate(0, 0) scale(0.8, 1.2);
  }
  51% {
    opacity: 1;
    z-index: 10;
    margin-top: -10px;
    margin-left: -10px;
    border-width: 10px;
    transform: rotateX(70deg);
    animation-timing-function: cubic-bezier(.12, .41, .63, .99);
  }
  100% {
    opacity: 0;
    z-index: 1;
    margin-top: -200px;
    margin-left: -200px;
    border-width: 200px;
    transform: rotateX(70deg);
    animation-timing-function: cubic-bezier(.12, .41, .63, .99);
  }
}
} */