@import 'src/styles/vars';

.dices {
  position: absolute;
  width: 100vw;
  height: 40vh;
  background-color: white;
  opacity: 0.9;
  top: 0;
  z-index: 103;

  &-toggle {
    display: none;
  }

  button {
    position: absolute;
    background: none;
    border: none;
    top: 0;
    right: 1em;
    color: $sixth-color;
  }

  &-result{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 20vh;
    border-radius: 50%;
    background-color: $seventh-color;
    margin: 1em auto;
    font-size: 2.2em;
    color: $sixth-color;
  }

  &-throw{
    display: inline-block;
    padding: .5em;
    color: black;
    text-align: center;
    width: 50%;
    margin-bottom: 2em;

    img {
      width: 2vw;

      &:hover {
        animation: shake 2s;
       /*  animation-iteration-count: infinite; */

        @keyframes shake {
          0% { transform: translate(0.5em, 0.1em) rotate(90deg); }
          10% { transform: translate(1em, -0.1em) rotate(180deg); }
          20% { transform: translate(1.4em, 0.1em) rotate(360deg); }
          30% { transform: translate(2em, -0.2em) rotate(90deg) ; }
          40% { transform: translate(2.4em, 0.2em) rotate(180deg); }
          50% { transform: translate(3em, 0em) rotate(360deg); }
          60% { transform: translate(3.5em, 0.2em) rotate(-180deg); }
          70% { transform: translate(3em, -0.1em) rotate(-360deg); }
          80% { transform: translate(2.6em, -0.2em) rotate(-180deg); }
          90% { transform: translate(1.8em, 0.2em) rotate(-90deg); }
          100% { transform: translate(0.5em, -0.2em) rotate(75deg); }
        }
      }
    }
  }
}

@media (min-width: 767px) {

  .dices {
    width: 40%;
    height: 18%;
    border: none;
    top: 72%;
    left: 6em;

    button {
      position: absolute;
      background: none;
      border: none;
      top: 0;
      left: 0;
    }

    &-toggle {
      display: none;
    }

    &-result {
      margin: 0.5em auto;
      width: 20vw;
      height: 8vh;
      left: 30%;
      top: 43%;
      
    }
  
    &-throw {
      left: 30%;
      width: 20vw;
      

      img {
        width: 4em;
      }

      &:hover{
        color: snow;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1024px) {

  .dices-container {
    position: relative;
    top: 50%;
    width: 18%;
    height: 30%;
    display: flex;
    padding: 0.5em;
    background-color: transparent;
    border-radius: 50%;
    border: 0.4em solid $main-color;
    margin: 0.3em;
  }

  .dices  {
    display: flex;
    bottom: 5%;
   
    &-toggle {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0;
      left: 0;
      margin: 0.2em;
      background-color: transparent;
      align-items: center;
      height: 98%;
      width: 98%;
    }

    &-result {
      width: 80%;
      height: 10vh;
      font-size: 2em;
      color: $main-color;
      background-color: transparent;
    }
  
    &-throw {
      height: 10vh;
      width: 60%;
      background-color: transparent;
     
      img {
        width: 3vw;
      }
    }
  }

    button {
      display: none;
  }
}

@media (min-width: 1600px) {

  .dices-container {
    width: 18%;
    top: 0;
    height: 34%;
    display: flex;
    margin-bottom: 12%;
    padding: 0.5em;
    background-color: transparent;
    border-radius: 50%;
    border: 0.4em solid $main-color;
  }

  .dices  {
    display: flex;
    bottom: 5%;
   
    &-toggle {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 3em;
      left: 0;
      margin: 0.2em;
      background-color: transparent;
      align-items: center;
      height: 98%;
      width: 98%;
    }

    &-result {
      width: 80%;
      height: 10vh;
      font-size: 2em;
      color: $main-color;
      background-color: transparent;
    }
  
    &-throw {
      height: 10vh;
      width: 60%;
      background-color: transparent;
     
      img {
        top: 3em;
        width: 3vw;
      }
    }
  }

    button {
      display: none;
  }
}