.dices {
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: white;
  border: 0.2em solid black;
  top: 0;

  &-toggle {
    display: none;
  }

  &-result{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 20vh;
    margin: 1em auto;
    border: 0.2em solid black;
    font-size: 1em;
  }

  &-throw{
    display: inline-block;
    border: .2em solid black;
    margin: 1em;
    padding: .5em;
    color: black;
    text-align: center;
    background-color: white;
    width: 50%;
   
    &:hover{
      color: snow;
      background: black;
    }
  }
}

@media (min-width: 1024px) {

  .dices {
    position:absolute;
    width: 20vw;
    height: 15vh;
    background-color: white;
    border: 0.1em solid black;
    top: 70%;
    left: 51%;

    &-toggle {
      display: block;
    }

    &-result {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20vw;
      height: 10vh;
      top: 85%;
   /*    margin: 1em auto; */
      border: 0.2em solid black;
      font-size: 1em;
    }
  
    &-throw{
      position: absolute;
      display: inline-block;
      border: .2em solid black;
      margin: 1em;
      padding: .5em;
      width: 20vw;
      height: 5vh;
      color: black;
      text-align: center;
      background-color: white;
      bottom: 0;
     
      &:hover{
        color: snow;
        background: black;
      }
    }
  }
}