@import 'src/styles/vars';

.dices {
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: #f2e9da;
  top: 0;

  &-toggle {
    display: none;
  }

  button {
    position: absolute;
    background: none;
    border: none;
    top: 0;
    left: 0;
    color: #6b8971;
  }

  &-result{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 20vh;
    margin: 1em auto;
    font-size: 2em;
    color: white;
  }

  &-throw{
    display: inline-block;
    padding: .5em;
    color: black;
    text-align: center;
    width: 50%;

    img {
      width: 14vw;

      &:hover {
        animation: shake 3s;
       /*  animation-iteration-count: infinite; */

        @keyframes shake {
          0% { transform: translate(0.2em, 0.2em) rotate(360deg); }
          10% { transform: translate(-0.2em, -0.2em) /* rotate(-45deg) */; }
          20% { transform: translate(-0.4em, 0) /* rotate(45deg) */; }
          30% { transform: translate(0.4em, 0.3em) /* rotate(0deg) */; }
          40% { transform: translate(0.2em, -0.2em) /* rotate(90deg) */; }
          50% { transform: translate(-0.2em, 0.3em) rotate(-360deg); }
          60% { transform: translate(-0.4em, 0.2em) /* rotate(0deg) */; }
          70% { transform: translate(0.4em, 0.2em) /* rotate(-45deg) */; }
          80% { transform: translate(-0.2em, -0.2em) /* rotate(45deg) */; }
          90% { transform: translate(0.2em, 0.2em) /* rotate(0deg) */; }
          100% { transform: translate(0.2em, -0.2em) rotate(360deg); }
        }
      }
    }
  }
}

@media (min-width: 767px) {

  .dices {
    width: 40%;
    height: 18%;
    border: none;
    top: 72%;
    left: 6em;

    button {
      position: absolute;
      background: none;
      border: none;
      top: 0;
      left: 0;
    }

    &-toggle {
      display: none;
    }

    &-result {
      margin: 0.5em auto;
      width: 20vw;
      height: 8vh;
      left: 30%;
      top: 43%;
      
    }
  
    &-throw {
      left: 30%;
      width: 20vw;
      

      img {
        width: 4em;
      }

      &:hover{
        color: snow;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1024px) {

  .dices {
    position: relative;

    &-toggle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 1em;
      width: 20vw;
      height: 30vh;
      border: none;
    }

    &-result {
      width: 15vw;
      height: 10vh;
      top: 43%;
    }
  
    &-throw {
      width: 60%;
     
      &:hover{
        color: snow;
      }
    }

    button {
      display: none;
    }
  }
}

@media (min-width: 1600px) {

  .dices-container {
    width: 20%;
    height: 30vh;
    display: flex;
    padding: 0.5em;
    background-color: $main-color;
  }

  .dices  {
   
    display: flex;
   
    &-toggle {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0;
      left: 0;
      margin: 0.2em;
      background-color: transparent;
      align-items: center;
      height: 98%;
      width: 98%;
    }

    &-result {
      width: 80%;
      height: 10vh;
      font-size: 2em;
      color: snow;
      background-color: transparent;
    }
  
    &-throw {
      height: 10vh;
      width: 60%;
      background-color: transparent;
     
      img {
        width: 3vw;

        &:hover {
          animation: shake 1s;

          @keyframes shake {
            0% { transform: translate(0.2em, 0.2em) rotate(0deg); }
            10% { transform: translate(-0.2em, -0.2em) rotate(-45deg); }
            20% { transform: translate(-0.4em, 0) rotate(45deg); }
            30% { transform: translate(0.4em, 0.3em) rotate(0deg); }
            40% { transform: translate(0.2em, -0.2em) rotate(90deg); }
            50% { transform: translate(-0.2em, 0.3em) rotate(-180deg); }
            60% { transform: translate(-0.4em, 0.2em) rotate(0deg); }
            70% { transform: translate(0.4em, 0.2em) rotate(-45deg); }
            80% { transform: translate(-0.2em, -0.2em) rotate(45deg); }
            90% { transform: translate(0.2em, 0.2em) rotate(0deg); }
            100% { transform: translate(0.2em, -0.2em) rotate(-45deg); }
          }
        }
      }
    }

    button {
      display: none;
    }
  }
}