.player-notes {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #f2e9da;
  padding: 1em;

  button {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background: none;
    border: none;
    color: #494052;
  }

  &-notes {
    height: 80vh;
    border-radius: 4px;
    padding: 0.2em;
  }

  &-toggle {
    display: none;
  }

  input {
    height: 1em;
    outline: none;
    border: none;
  }
}

@media (min-width: 767px) {
  
  .player-notes {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #f2e9da;
    width: 100%;
    height: 25vh;
    top: 75%;
    left: 0;
    align-self: flex-end;

    &-toggle {
      display: none;
    }

    &-title {
      color: #494052;
    }

    &-notes {
    background-color: white;
    }

    input {
      height: 3em;
      outline: none;
    }

    button {
      position: absolute;
      top: -0.2em;
      left: -0.9em;
      height: 1em;
      width: 1em;
      background: none;
      border: none;
      color: white;
    }
  }
}

@media (min-width: 1024px) {
  
  .player-notes {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color: white;
    width: 25%;
    height: 30vh;
    top: 65%;
    left: 73%;
    align-self: flex-end;

    &-toggle {
      display: flex;
    }

    button {
      display: none;
    }
  }
}


@media (min-width: 1400px) {
  
  .player-notes {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #f2e9da;
    width: 25%;
    height: 30vh;
    top: 65%;
    left: 73.5%;
    margin-right: 2em;
    align-self: flex-end;

    &-toggle {
      display: flex;
      margin-right: 2em;
    }

    &-notes {
      background-color: white;
    }

    button {
      display: none;
    }
  }
}

@media (min-width: 1600px) {
  
  .player-notes {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #f2e9da;
    width: 25%;
    height: 30vh;
    top: 65%;
    left: 73.5%;
    margin-right: 2em;
    align-self: flex-end;

    &-toggle {
      display: flex;
      margin-right: 2em;
    }

    &-notes {
      background-color: white;
    }

    button {
      display: none;
    }
  }
}