@import 'src/styles/vars';

.player-notes {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: white;

  opacity: 0.9;
  padding: 1em;

  button {
    position: absolute;
    top: 0;
    right: 1.52em;
    height: 1em;
    width: 1em;
    background: none;
    border: none;
    color: $sixth-color;
  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 2em;
    font-family: 'Chuck Noon';
    font-size: 3em;
    background-color: $main-color;
    color: $fourth-color;
  }

  &-notes {
    margin-top: 1.5em;
    border: 0.3em dotted $main-color;
    height: 100vh;
    border-radius: 4px;
    padding: 0.2em;

    p {
      color: $main-color;
      margin-top: 1em;
      margin-left: 1em;
      text-align: left;
      font-family: 'Quicksand';
    }
  }

  &-toggle {
    display: none;
  }

  .form {
    width: 100%;
  }

  .form-button {
    position: relative;
  }

  .form-input {
    position: relative;
    height: 3em;
    width: 100%;
    outline: none;
    border: none;
    background-color: $main-color;
    color: #e1b713;
    padding-left: 0.4em;
  }
}

@media (min-width: 767px) {
  
  .player-notes {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #f2e9da;
    width: 100%;
    height: 25vh;
    top: 75%;
    left: 0;
    align-self: flex-end;

    &-toggle {
      display: none;
    }

    &-title {
      color: #494052;
    }

    &-notes {
    background-color: white;
    }

    input {
      height: 3em;
      outline: none;
    }

    button {
      position: absolute;
      top: -0.2em;
      left: -0.9em;
      height: 1em;
      width: 1em;
      background: none;
      border: none;
      color: white;
    }
  }
}

@media (min-width: 1024px) {
  
  .player-notes {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color: white;
    width: 25%;
    height: 37vh;
    top: 0;
    align-self: flex-end;

    &-toggle {
      display: flex;
    }

    button {
      position: absolute;
      top: 0;
      right: 1em;
      height: 1em;
      width: 1em;
      background: none;
      border: none;
      color: $sixth-color;
    }
  
    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      height: 1em;
      font-family: 'Chuck Noon';
      font-size: 2em;
      background-color: $main-color;
      color: $fourth-color;
    }
  
    &-notes {
      margin-top: 1.5em;
      border: 0.3em dotted $main-color;
      height: 100vh;
      border-radius: 4px;
      padding: 0.2em;
  
      p {
        margin-top: 0.5em;
        text-align: left;
        font-family: 'Quicksand';
      }
    }
  
    &-toggle {
      display: flex;
    }
  
    .form {
      width: 100%;
    }
  
    .form-button {
      position: relative;
    }
  
    .form-input {
      position: relative;
      height: 3em;
      width: 100%;
      outline: none;
      border: none;
      background-color: $main-color;
      color: #e1b713;
      padding-left: 0.4em;
    }
  }
}


@media (min-width: 1400px) {
  
  .player-notes {
    display: flex;
    justify-content: center;
    background-color: #f2e9da;
    width: 25%;
    height: 30vh;
    margin-right: 2em;
    align-self: flex-end;

    &-toggle {
      display: flex;
      margin-right: 2em;
    }

    &-notes {
      background-color: white;
    }

    button {
      display: none;
    }
  }
}

@media (min-width: 1600px) {
  
  .player-notes {
    display: flex;
    justify-content: center;
    background-color: #f2e9da;
    opacity: 0.9;
    border: none;
    width: 20%;
    height: 80%;
    margin-right: 2em;
    align-self: flex-end;

    &-toggle {
      display: flex;
      margin-right: 2em;
    }

    &-title {
      font-size: 2.4em;
      background-color: transparent;
      color: $main-color;
      &:hover {
        color: $fourth-color;
        transition: 1s ease;
      }
    }

    &-notes {
      background-color: transparent;
    }

    .form-input {
      position: relative;
      height: 3em;
      width: 100%;
      outline: none;
      border: none;
      background-color: $main-color;
      color: $first-color;
      padding-left: 0.4em;
    }

    button {
      display: none;
    }
  }
}