// General Styles
.carousel {

  &-menu {
    margin: 0 auto;
    padding: 1em;
    color: white;

    ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    li {
      display: block;
      list-style-type: none;
    }
  }
}

// Team
.item {
  margin-top: 1em;
  height: 12em;
  display:flex;

  & img {
    width: 9em;
    height: 10em;
    float: left;
  }
  
.text{
  padding: 0 1em;
  }
}
// Presentation

// Demonstration
