@import 'src/styles/vars';

.create-room-button {
  position: relative;
  background: black;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 8em;
  height: 4.3em;
  margin: 0 3em;
  padding: 0.5em;
  border: none;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.create-room-submit {
  
}

.ui.modal {
  margin-top: -20em;
}

// MEDIA QUERIES

@media (min-width: 767px) {
  .create-room-button {
    width: 12em;
    height: 5em;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 1024px) {
  .create-room-button {
    display: flex;
    position: absolute;
    width: 12em;
    height: 5em;
    top: 30em;
    left: 5em;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 1600px) {
  .create-room-button {
    display: flex;
    position: absolute;
    width: 12em;
    height: 5em;
    top: 30em;
    left: 10em;

    &:hover {
      transform: scale(1.1);
    }
  }

  .ui.modal {
    margin-top: -20em;
  }
}