@import 'src/styles/vars';

.create{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  width: 7em;
  padding: .4em;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  @include m767() {
    height: 15vh;
    width: 25vw;
    padding: .7em;
  };

  &-container{
    @include m767() {
      padding: .5em;
      border: dashed white .2em;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
    };
  }

  img {
    width: 100%;
    border: dashed white .1em;
    padding: 1em;
    @include m767() {
      border: 0;
      position: relative;
      padding: 0;
      display: inline;
      height: 7em;
      width: 7em;
    };
  }
  &-text{
    margin-bottom: .2em;
    @include m767() {
      font-size: 3em;
      display: inline;
      margin:0;
      margin-left: 2.6em;
    };
  }

  &-room-modal{
    height: 60%;
    background: black;
    display: flex;
    justify-content: center;

  }
}

.success{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.ui.button.create-room-submit {
  margin-top: 1em;
  background-color: black;
  color: white;
}

.ui.modal {
  margin-top: -20em;
}

.ui.selection.dropdown {
  margin-top: 0.5em;
}

/* // MEDIA QUERIES

@media (min-width: 767px) {
  .create-room-button {
    width: 12em;
    height: 5em;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 1024px) {
  .create-room-button {
    display: flex;
    position: absolute;
    width: 12em;
    height: 5em;
    top: 20em;
    left: 2em;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 1600px) {
  .create-room-button {
    display: flex;
    position: absolute;
    width: 12em;
    height: 5em;
    top: 30em;
    left: 10em;

    &:hover {
      transform: scale(1.1);
    }
  }

  .ui.modal {
    margin-top: -20em;
  } 
}
*/
