@import 'src/styles/vars';

.create-room-button {
  position: relative;
  background: black;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 8em;
  height: 4.3em;
  margin: 0 3em;
  padding: 0.5em;
  border: none;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.create-room-modal {
  margin-top: 0;
}
@media (min-width: 767px) {
  .create-room-button {
    display: flex;
    position: absolute;
    width: 12em;
    height: 5em;
    top: 40em;
    left: 20em;
  
    &-svg {
      align-items: center;
      margin: 0 auto;
    }
  }
}