@import 'src/styles/vars';

// Login

.login {
  border : solid .1em black;
  margin: 0 auto;
  margin-top: .2em;
  padding: 3em;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include mq() {
    height: 50vh;
    width: 100%;
  };

  &-error{
    color: red;
    font-style: italic;
    padding: .5em;
  }
}

// Register

.register{
  border : solid .1em black;
  margin: 0 auto;
  margin-top: .2em;
  padding: 3em;
  height: 50vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  @include mq() {
    height: 50vh;
    width: 100%;
    flex-direction: column;
    align-items: space-between ;
  };

  &-password-int{
    color: red;
    font-style: italic;
    padding-top:.5em;
  }
  
  // RegisterAvatar

  &-avatar{
    justify-content: center;

    &-preview{
      max-height: 30vh;
      max-width: 30vw;
      object-fit: contain;
    }
  }
}

.forgotten{
  border : solid .1em black;
  margin: 0 auto;
  margin-top: .2em;
  padding: 3em;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include mq() {
    height: 50vh;
    width: 100%;
  };
  &-text{
    padding: 1em;
    width: 25rem;
    
  }
  &-confirm{

  }
}


