@import 'src/styles/vars';

// General styles

// Field

// Login

.login {
  border : solid .1em black;
  margin: 0 auto;
  margin-top: .2em;
  padding: 3.1em;
}

// Register

.register{
  border : solid .1em black;
  margin: 0 auto;
  margin-top: .2em;
  padding: 1.5em;
  @include mq() {
    margin: 0;
  };
  
  // RegisterAvatar

  &-avatar{
    display: flex;
    justify-content: center;

    &-preview{
      max-height: 30vh;
      max-width: 30vw;
      object-fit: contain;
    }
  }

}


