@import 'src/styles/vars';

.user-profile-icon {
  display: flex;
  width: 4em;
  height: 4em;
  padding: 0.3em;
  background-color: #c7f0db;
  border-radius: 50%;
  margin: 0 1em;

  &-svg {
    align-items: center;
    margin: 0 auto;
  }

  &:hover {
    background-color: #8bbabb;
  }
}

@media (min-width: 767px) {
  .user-profile-icon {
    display: flex;
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #c7f0db;
    border-radius: 50%;
    left: 20em;
    top: 30em;
  
    &-svg {
      align-items: center;
      margin: 0 auto;
    }
  }
}