@import 'src/styles/vars';

.share-media {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: white;
  opacity: 0.9;
  border: 0.3em solid $fifth-color;
  padding: 1em;
  z-index: 103;

  &-toggle {
    display: none;
  }

  button {
    position: absolute;
    top: 0;
    right: 1em;
    height: 1em;
    width: 1em;
    background: none;
    border: none;
    color: $main-color;
  }

  .label-file {
    text-align: center;
    color: $main-color;
    font-size: 1.2em;
    padding: 1em 0;

    &:hover {
      color: $fifth-color;
    }
  }

  input {
    display: none;
  }

  &-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    border-radius: 4px;
    padding: 0.2em;

    img {
      width: 6em;
    }
  }

  &-files {
    border: 0.3em dotted #e1b713;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;

    &-title {
      font-size: 3em;
      font-family: 'Cairlinn';
    }

    &-item {
    margin-top: .5em;
    width: 100%;
    display: flex;
    flex-direction: space-between;
    flex-wrap: wrap;
    }
  }

  // SHARED MEDIA ITEM

  .media-picture {
    border: 0.1em solid $main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.2em;

    &:first-child {
      display: none;
    }
  }

  .share-picture {
    max-height: 90%;
    padding: 0.2em;
  }

  // SHARE VIDEOS LIST

  &-videos {
    border: 0.3em solid #e1b713;
    border-top: none;
    width: 100%;
    flex: 1;
    padding: 0.5em;
    overflow: scroll;

    a {
      color: black;

      &:hover {
        color: $fifth-color;
      }
    }

    &-title {
      font-family: 'Cairlinn';
      background-color: white;
      color: black;
      font-size: 3em;
      width: 100%;
    }
  }
}

@media (min-width: 767px) {
  
}

@media (min-width: 1024px) {
  .share-media {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: white;
    border: 0.2em solid $main-color;
    padding: 1em;

    &-toggle {
      display: none;
      }
    }
  }


@media (min-width: 1400px) {
  .share-media {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: white;
    border: 0.2em solid $main-color;
    padding: 1em;

    &-toggle {
      display: none;
    }
  }
}

@media (min-width: 1600px) {
  .share-media {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: white;
    border: 0.2em solid $main-color;
    padding: 1em;
    margin: 0 auto;
    z-index: 1004;

    &-toggle {
      display: none;
    }

    button {
      position: absolute;
      top: 0;
      left: 0;
      height: 1em;
      width: 1em;
      background: none;
      border: none;
      color: #708cb3;
    }
  
    &-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 80vh;
      border: 0.1em solid #96b1d6;
      border-radius: 4px;
      padding: 0.2em;
  
      img {
        width: 6em;
      }
    }
  
    &-files {
      border: 1px solid black;
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: .5em;
  
      &-title {
        font-size: 1.2em;
      }
  
      &-item {
      margin-top: .5em;
      display: flex;
      flex-wrap: wrap;
      }
    }
  
    &-videos {
      border: 1px solid black;
      width: 100%;
      flex: 1;
  
      &-title {
        font-size: 1.2em;
      }
    }
  }
}