@import 'src/styles/vars';

.edit-profile-section {
  margin-top: 3em;
  background-color: white;
  
  &-title {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  .ui.button {
    background: black;
    color: white;
    margin-top: 1em;
  }
}

.edit-profile-avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20em;
  border: 1px solid black;
  margin: 0.5em;
}

.avatar-preview img{
  width: 10em;
  height: 10em;
}

.avatar-choice-input {
  border: none;
}

.edit-profile-form {
  margin-top: 3em;

  .ui.form .field label {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 1em;
    margin-bottom: 0.5em;
  }

  &-input {
    margin-top: 0.5em;
  }
}

@media (min-width: 767px) {
  .edit-profile-section {
    width: 50%;
    margin: 2em auto;
    border: 2px solid black;
    padding: 2em;
  }
}

@media (min-width: 1024px) {
  .edit-profile-section {
    width: 50%;
    margin: 2em auto;
    border: 2px solid black;
    padding: 2em;
  }
}

@media (min-width: 1600px) {
  .edit-profile-section {
    width: 40%;
  }
}