@import 'src/styles/vars';

.edit-profile-section {
  margin-top: 3em;
  background-color: black;
  padding: 1em;
  
  &-title {
    font-size: 1.4em;
    margin-bottom: 1em;
    color: white
  }

  .ui.button {
    background: white;
    color: black;
    margin-top: 1em;
  }

  .home-button img {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 2em;
  }
}

.edit-profile-avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20em;
  background-color: white;
  margin: 0.5em;

  .label-file:hover {
    font-weight: bold;
  }
}

.avatar-preview img{
  width: 10em;
  height: 10em;
}

.avatar-choice-input {
  border: none;
  display: none;
}

.edit-profile-form {
  margin-top: 3em;

  .ui.form .field label {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 1em;
    margin-bottom: 0.5em;
  }

  &-input {
    margin-top: 0.5em;
  }
}

@media (min-width: 767px) {
  .edit-profile-section {
    width: 50%;
    margin: 2em auto;
    border: 2px solid black;
    padding: 2em;
  }
}

@media (min-width: 1024px) {
  .edit-profile-section {
    width: 50%;
    margin: 2em auto;
    border: 2px solid black;
    padding: 2em;
  }
}

@media (min-width: 1600px) {
  .edit-profile-section {
    margin-top: 8em;
    width: 40%;
  }

  .edit-profile-form {
    margin-top: 3em;

    .homePage-Field {
      margin-top: 0.5em;
    }
  
    &-input {
      margin-top: 0.5em;
    }
  }
}