.chatroom{
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid .5em black;
  text-align: left;
  font-family: 'Roboto Mono', monospace;

&-form {
  height: 3em;
  display: flex;
}

  &-field {
    width: 100%;
    padding: .5rem .5rem;
    border-top: solid .1em black;
  }

  &-send {
    padding: .5rem .5rem;
    line-height: 1;
    outline: none;
    background-color : transparent;
    border: 0;
    border-top: solid .1em black;
    border-left: solid .1em black;
  }
}

.messages {
  height: 100%;
  padding: 1rem;
  overflow-x: visible;
  overflow-y: auto;
}

.message {
  margin: 1rem;
  &-author {
    padding: .3rem 0;
    color: grey;
  }
  &-content {
    padding: .3rem;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
  }
}
