@import 'src/styles/vars';

.chatroom {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'Quicksand';
  top: 0;
  display: none;
  border: 0.2m solid #e7cdaa;
  border: black;

  &-toggle {
    display: block;
    position: absolute;
    z-index: 1001;

    .close-button {
      background: none;
      border: none;
      position: absolute;
      color: $main-color;
      top: 0.5em;
      right: 0;
      z-index: 1000;
    }
  }

  button {
    background-color: $first-color;
  }

  &-form {
    width: 100%;
    height: 6vh;
    left: 0;
    bottom: 0;
    display: flex;
    border-top: 0.2em solid #aca5b3;

    img {
      width: 2em;
    }
  }

  &-field {
    width: 100%;
    padding: .5rem .5rem;
    border: none;
    height: 2.5em;
  }

  &-send {
    padding: .4rem .4rem;
    line-height: 1;
    outline: none;
    color: white;
    border: 0;
    height: 2.5em;
  }
}

.messages {
  padding-top: 1.2em;
  height: 94vh;
  overflow-x: visible;
  overflow-y: auto;
  background-color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 0.9em;
}

.message {
  margin: 1rem;
  max-width: 100vw;
  border: 0.2m solid $main-color;

  &-author {
    padding: .3rem 0;
    color: $main-color;
    font-weight: bold;
  }
  &-content {
    padding: 0.3em;
    background-color: $sixth-color;
    display: inline-block;
    border-radius: 7px;
    line-height: 1.3em;
  
  }
}

  // MEDIA QUERIES

  @media (min-width: 767px) {

    .chatroom {
      width: 50vh;
      height: 50vh;
      left: 8em;
      top: 6em;
      display: flex;
      flex-direction: column;
      text-align: left;
      display: none;

      &-toggle {
        margin: 0 auto;
        display: block;
    
      .close-button {
        background: none;
        border: none;
        position: absolute;
        color: $main-color;
        top: 0;
        right: 0;
        z-index: 1000;
      }
    }
    
    &-form {
      position: relative;
      width: 100%;
      max-height: 3em;
      left: 0;
      display: flex;
    }
    
      &-field {
        width: 100%;
        padding: .5rem .5rem;
      }
    
      &-send {
        padding: .4rem .4rem;
        line-height: 0.8;
        outline: none;
        background-color : #2f544c;
        color: white;
        border: 0;
      }
    }
    
    .messages {
      max-height: 100%;
      overflow-x: visible;
      overflow-y: auto;
    }
    
    .message {
      margin: 1rem;
      max-width: 100vw;
    
      &-author {
        padding: .3rem 0;
        color: grey;
      }
      &-content {
        padding-left: 1rem;
        background-color: white;
        display: inline-block;
        border-radius: 5px;
        line-height: 1.3em;
      }
    }
  }

  @media (min-width: 1024px) {

    .chatroom {
      position: absolute;
      top: 16%;
      left: 68%;
      width: 16%;
      height: 35%;
      display: flex;
      flex-direction: column;
      text-align: left;

      &-toggle {
        width: 15%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: transparent;
        }

        &-form {
          position: relative;
          width: 100%;
          max-height: 2em;
          margin-top: 0;
          left: 0;
          display: flex;
          border-top: 1px solid #f2e9da;
        }
        
          &-field {
            width: 100%;
            padding: .5rem .5rem;
            border-bottom-left-radius: 15px;
            font-family: 'Quicksand';
            font-style: italic;
          }
        
          &-send {
            border-bottom-right-radius: 15px;
            padding: .4rem .4rem;
            line-height: 0.8;
            outline: none;
            color: white;
            border: 0;
          }
      }

      .messages{
        opacity: 0.5;
        border-top-left-radius: 15px;
        font-size: 0.7em;
      }

      .message {
        margin: 1rem;
        max-width: 100vw;
        font-family: 'Quicksand';
        font-weight: bold;
      
        &-author {
          padding: .3rem 0;
          color: $main-color;
        }
        &-content {
          padding-left: 1rem;
          background-color: snow;
          opacity: 0.8;
          display: inline-block;
          border-radius: 5px;
          line-height: 1.3em;
        }
      }
  }

  @media (min-width: 1400px) {

    .chatroom {
      position: absolute;
      right: 14%;
      top: 16%;
      left: 4%;
      width: 16%;
      height: 40%;
      display: flex;
      flex-direction: column;
      text-align: left;
     
      &-toggle {
        width: 15%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: transparent;
        }

        &-form {
          position: relative;
          width: 100%;
          max-height: 2em;
          margin-top: 0;
          left: 0;
          display: flex;
          border-top: 1px solid #f2e9da;
        }
        
          &-field {
            width: 100%;
            padding: .5rem .5rem;
            border-bottom-left-radius: 15px;
            font-family: 'Quicksand';
            font-style: italic;
          }
        
          &-send {
            border-bottom-right-radius: 15px;
            padding: .4rem .4rem;
            line-height: 0.8;
            outline: none;
            color: white;
            border: 0;
          }
      }

      .messages{
        opacity: 0.5;
        border-top-left-radius: 15px;
      }

      .message {
        margin: 1rem;
        max-width: 100vw;
        font-family: 'Quicksand';
        font-weight: bold;
      
        &-author {
          padding: .3rem 0;
          color: $main-color;
        }
        &-content {
          padding-left: 1rem;
          background-color: snow;
          opacity: 0.8;
          display: inline-block;
          border-radius: 5px;
          line-height: 1.3em;
        }
      }
  }

  @media (min-width: 1600px) {

    .chatroom {
      position: absolute;
      right: 0;
      top: 14%;
      left: 50%;
      width: 16%;
      height: 40%;
      display: flex;
      flex-direction: column;
      text-align: left;
     
      &-toggle {
        width: 15%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: transparent;
        }

        &-form {
          position: relative;
          width: 100%;
          max-height: 2em;
          margin-top: 0;
          left: 0;
          display: flex;
          border-top: 1px solid #f2e9da;
        }
        
          &-field {
            width: 100%;
            padding: .5rem .5rem;
            border-bottom-left-radius: 15px;
            font-family: 'Quicksand';
            font-style: italic;
          }
        
          &-send {
            border-bottom-right-radius: 15px;
            padding: .4rem .4rem;
            line-height: 0.8;
            outline: none;
            color: white;
            border: 0;
          }
      }

      .messages{
        opacity: 0.5;
        border-top-left-radius: 15px;
        font-size: 0.9em;
      }

      .message {
        margin: 1rem;
        max-width: 100vw;
        font-family: 'Quicksand';
        font-weight: bold;
      
        &-author {
          padding: .3rem 0;
          color: $main-color;
        }
        &-content {
          padding-left: 1rem;
          background-color: snow;
          opacity: 0.8;
          display: inline-block;
          border-radius: 5px;
          line-height: 1.3em;
        }
      }
  }