@import 'src/styles/vars';

.chatroom {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'Nunito', msans-serif;
  top: 0;
  display: none;
  border: 0.2m solid #e7cdaa;
  border: black;

  &-toggle {
    display: block;
    position: absolute;

    .close-button {
      background: none;
      border: none;
      position: absolute;
      color: #708cb3;
      top: 0;
      right: 0;
      z-index: 1000;
    }
  }

  button {
    background-color: #708cb3;
  }

  &-form {
    width: 100%;
    height: 6vh;
    left: 0;
    bottom: 0;
    display: flex;
    border-top: 0.2em solid #aca5b3;
  }

  &-field {
    width: 100%;
    padding: .5rem .5rem;
    border: none;
  }

  &-send {
    padding: .4rem .4rem;
    line-height: 0.8;
    outline: none;
    background-color : #2f544c;
    color: white;
    border: 0;
  }
}

.messages {
  height: 94vh;
  overflow-x: visible;
  overflow-y: auto;
  background-color: white;
  font-family: 'Nunito', msans-serif;
  border: 0.2m solid #e7cdaa;
}

.message {
  margin: 1rem;
  max-width: 100vw;

  &-author {
    padding: .3rem 0;
    color: grey;
  }
  &-content {
    padding-left: 1rem;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    line-height: 1.3em;
  }
}

  // MEDIA QUERIES

  @media (min-width: 767px) {

    .chatroom {
      width: 50vh;
      height: 50vh;
      left: 8em;
      top: 6em;
      display: flex;
      flex-direction: column;
      text-align: left;
      display: none;

      &-toggle {
        margin: 0 auto;
        display: block;
    
      .close-button {
        background: none;
        border: none;
        position: absolute;
        color: #708cb3;
        top: 0;
        right: 0;
        z-index: 1000;
      }
    }
    
    &-form {
      position: relative;
      width: 100%;
      max-height: 3em;
      left: 0;
      display: flex;
    }
    
      &-field {
        width: 100%;
        padding: .5rem .5rem;
      }
    
      &-send {
        padding: .4rem .4rem;
        line-height: 0.8;
        outline: none;
        background-color : #2f544c;
        color: white;
        border: 0;
      }
    }
    
    .messages {
      max-height: 100%;
      overflow-x: visible;
      overflow-y: auto;
    }
    
    .message {
      margin: 1rem;
      max-width: 100vw;
    
      &-author {
        padding: .3rem 0;
        color: grey;
      }
      &-content {
        padding-left: 1rem;
        background-color: white;
        display: inline-block;
        border-radius: 5px;
        line-height: 1.3em;
      }
    }
  }

  @media (min-width: 1024px) {

    .chatroom {
      position: absolute;
      width: 25%;
      height: 50vh;
      top: 6em;
      left: 73%;
      display: flex;
      flex-direction: column;
      text-align: left;

      &-toggle {
      position: absolute;
      width: 25%;
      height: 50vh;
      top: 6em;
      left: 49em;
      display: flex;
      flex-direction: column;
      text-align: left;
      }

      .close-button {
        display: none;
      }
    
    &-form {
      position: relative;
      width: 100%;
      max-height: 2em;
      margin-top: 0.4em;
      left: 0;
      display: flex;
    }
    
      &-field {
        width: 100%;
        padding: .5rem .5rem;
      }
    
      &-send {
        padding: .4rem .4rem;
        line-height: 0.8;
        outline: none;
        background-color : #2f544c;
        color: white;
        border: 0;
      }
    }
    
    .messages {
      max-height: 100%;
      overflow-x: visible;
      overflow-y: auto;
    }
    
    .message {
      margin: 1rem;
      max-width: 100vw;
    
      &-author {
        padding: .3rem 0;
        color: grey;
      }
      &-content {
        padding-left: 1rem;
        background-color: white;
        display: inline-block;
        border-radius: 5px;
        line-height: 1.3em;
      }
    }
  }

  @media (min-width: 1400px) {

    .chatroom {
      position: absolute;
      width: 25%;
      height: 50vh;
      top: 9.5em;
      margin-right: 2em;
      left: 75%;
      display: flex;
      flex-direction: column;
      text-align: left;

      &-toggle {
        position: absolute;
        width: 25%;
        height: 50vh;
        top: 9.5em;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        }
    
    &-form {
      position: relative;
      width: 100%;
      max-height: 2em;
      margin-top: 0.4em;
      left: 0;
      display: flex;
      border-top: 1px solid #f2e9da;
    }
    
      &-field {
        width: 100%;
        padding: .5rem .5rem;
      }
    
      &-send {
        padding: .4rem .4rem;
        line-height: 0.8;
        outline: none;
        background-color : #2f544c;
        color: white;
        border: 0;
      }
    }
    
    .messages {
      max-height: 100%;
      overflow-x: visible;
      overflow-y: auto;
    }
    
    .message {
      margin: 1rem;
      max-width: 100vw;
    
      &-author {
        padding: .3rem 0;
        color: grey;
      }
      &-content {
        padding-left: 1rem;
        background-color: white;
        display: inline-block;
        border-radius: 5px;
        line-height: 1.3em;
      }
    }
  }

  @media (min-width: 1600px) {

    .chatroom {
      position: absolute;
      width: 25%;
      height: 45vh;
      top: 13.5%;
      margin-right: 2em;
      left: 73%;
      display: flex;
      flex-direction: column;
      text-align: left;

      &-toggle {
        position: absolute;
        width: 25%;
        height: 45vh;
        top: 13.5%;
        margin-right: 2em;
        display: flex;
        flex-direction: column;
        text-align: left;
        }
      }
  }