/* @import 'src/styles/vars';

// RAINDROPS FALL ANIMATION
.raindrop-animation{
  position: absolute;
  top: 0;

  .raindrop1 img{
    width: 2em;
    position: absolute;
    left: 2em;
    top: -10em;
    
  }
  .raindrop2 img{
    width: 3em;
    position: absolute;
    left: 4em;
    top: -10.2em;
  }
  .raindrop3 img{
    width: 1.7em;
    position: absolute;
    left: 7em;
    top: -11em;
  }
  .raindrop4 img{
    width: 2.3em;
    position: absolute;
    left: 14em;
    top: -11.5em;
  }
  .raindrop5 img{
    width: 1.2em;
    position: absolute;
    left: 20em;
    top: -10.8;
  }
  .raindrop6 img{
    width: 2.7em;
    position: absolute;
    left: 30em;
    top: -0.2em;
  }
  .raindrop7 img{
    width: 2em;
  }
  .raindrop8 img{
    width: 2em;
  }
}


.raindrop1, .raindrop2, .raindrop3, .raindrop4, .raindrop6, .raindrop7 {
  position: relative;

  & img {
    transform: translateY(0);
    animation: falldown 1.2s linear;
    animation-fill-mode: forwards;
  }

  @keyframes falldown {
    100% {
      transform: translateY(+600%);
    }
  }
} */
