 @import 'src/styles/vars';

// DASHBOARD RAINDROPS FALL ANIMATION

/* .raindrop1, .raindrop2, .raindrop3, .raindrop4, .raindrop5, .raindrop6, .raindrop7, .raindrop8 {
  img {
    transform: rotateX(90deg);
  }
} */

.dashboard-raindrop-animation {

.white-raindrop1 {
  position: absolute;
  left: 3%;
  z-index: 1;
  @include m767() {
    left: 4%;
  };
  @include m1600() {
    left: 10%;
  };
  img {
    width: 1.2em;
    z-index: 1;
  }
}

.white-raindrop2 {
  position: absolute;
  left: 21%;
  z-index: 1;
  img {
    width: 1em;
    z-index: 1;
  }
}

.white-raindrop3 {
  position: absolute;
  left: 33%;
  z-index: 1;
  img {
    width: 0.6em;
    z-index: 1;
  }
}

.white-raindrop4 {
  position: absolute;
  left: 41%;
  z-index: 1;
  img {
     width: 0.3em;
     z-index: 1;
  }
}

.white-raindrop5 {
  position: absolute;
  left: 53%;
  z-index: 1;
  img {
     width: 1.1em;
     z-index: 1;
  }
}
.white-raindrop6 {
  position: absolute;
  left: 62%;
  z-index: 1;
  img {
     width: 0.8em;
     z-index: 1;
  }
}

.white-raindrop7 {
  position: absolute;
  left: 75%;
  z-index: 1;
  img {
     width: 1.2em;
     z-index: 1;
  }
}

.white-raindrop1, .white-raindrop2, .white-raindrop3, .white-raindrop4, .white-raindrop5, .white-raindrop6, .white-raindrop7 {
animation: fallup 2s linear;
  animation-fill-mode: forwards;

  @keyframes fallup {
    0% {
      opacity: 0;
      transform: translate(0, +500%) scale(0.8,1.2);
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(0, -100%) scale(1,1);
    }
  }
}
}