 @import 'src/styles/vars';

// DASHBOARD RAINDROPS FALL ANIMATION

.dashboard-raindrop-animation {
  z-index: 1;

.white-raindrop1 {
  position: absolute;
  width: 1.2em;
  left: 3%;
  z-index: 1;
  @include m767() {
    left: 4%;
  };
  @include m1600() {
    left: 15%;
    width: 1em;
  };
  @include m1900() {
    left: 20%;
    width: 1em;
  };
  img {
    width: 1.2em;
    z-index: 1;
  }
}

.white-raindrop2 {
  position: absolute;
  width: 1em;
  left: 21%;
  z-index: 1;
  img {
    width: 1em;
    z-index: 1;
  }
}

.white-raindrop3 {
  position: absolute;
  width: 0.6em;
  left: 33%;
  z-index: 1;
  img {
    width: 0.6em;
    z-index: 1;
  }
}

.white-raindrop4 {
  position: absolute;
  width: 0.3em;
  left: 41%;
  z-index: 1;
  img {
     width: 0.3em;
     z-index: 1;
  }
}

.white-raindrop5 {
  position: absolute;
  width: 1.1em;
  left: 53%;
  z-index: 1;
  img {
     width: 1.1em;
     z-index: 1;
  }
}
.white-raindrop6 {
  position: absolute;
  width: 0.8em;
  left: 62%;
  z-index: 1;
  img {
     width: 0.8em;
     z-index: 1;
  }
}

.white-raindrop7 {
  position: absolute;
  width: 1.2em;
  left: 75%;
  z-index: 1;
  img {
     width: 1.2em;
     z-index: 1;
  }
}

.white-raindrop1, .white-raindrop2, .white-raindrop3, .white-raindrop4, .white-raindrop5, .white-raindrop6, .white-raindrop7 {
animation: fallup 3s linear;
  animation-fill-mode: forwards;

  @keyframes fallup {
    0% {
      opacity: 1;
      transform: translate(0, +500%) scale(0.8,1.2);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translate(0, -100%) scale(1,1);
    }
  }
}
}