/* .currentRoom{
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
} */

.displayTools {
  position: relative;
  width: 100vw;
}

@media (min-width: 1024px) {

  .static-room {
    display: flex;
    flex-direction: column;
  }

  .displayTools {
    position: relative;
    border: .3em solid black;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


