.currentRoom{
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}

.displayTools {
  position: relative;
  border: .3em solid black;
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media (min-width: 1024px) {

  .static-room {
    display: flex;
    flex-direction: column;
  }

  .displayTools {
    position: relative;
    border: .3em solid black;
    height: 33vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}


