@import 'src/styles/vars';

.static-room {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}

@media (min-width: 1024px) {

  .static-room {
    width: 60%;
    margin: 0 auto;
  }

  .share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}


