
.login{
  border : solid .2rem grey;
  margin: 0 auto;
  margin-top: 1em;
  padding: 3em;
  height: 60vh;

  &-register{
    p{
      display: inline-block;
      margin-right: .2em;
    }
  }
 }

 .login-form-message {
  text-align: right;
  margin: .3em 1em;
}
.login-form-logged {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
