
.raindrop1 {
  position: absolute;
  left: 2em;
  z-index: 9;
  img {
    width: 3em;
  }
}

.raindrop2 {
  position: absolute;
  left: 22em;
  z-index: 9;
  img {
    width: 2.8em;
  }
}

.raindrop3 {
  position: absolute;
  left: 4em;
  z-index: 9;
  img {
    width: 1.2em;
  }
}

.raindrop4 {
  position: absolute;
  left: 7em;
  z-index: 9;
  img {
     width: 2.1em;
  }
}

.raindrop5 {
  position: absolute;
  left: 11em;
  z-index: 9;
  img {
     width: 1.9em;
  }
}
.raindrop6 {
  position: absolute;
  left: 14em;
  z-index: 9;
  img {
     width: 2.7em;
  }
}

.raindrop7 {
  position: absolute;
  left: 18em;
  z-index: 9;
  img {
     width: 1.6em;
  }
}

.raindrop8 {
  position: absolute;
  left: 20em;
  z-index: 9;
  img {
     width: 3em;
  }
}

.raindrop1, .raindrop2, .raindrop3, .raindrop4, .raindrop5, .raindrop6, .raindrop7, .raindrop8 {
animation: falldown 2s linear;
  animation-fill-mode: forwards;

  @keyframes falldown {
    0% {
      opacity: 0;
      transform: translate(0, -100%) scale(1,1);
    }
    100% {
      opacity: 1;
      transform: translate(0, +500%) scale(0.8,1.2);
    }
  }
}