@import 'src/styles/vars';

.players-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em;

}

@media (min-width: 1024px) {

  .players-list {
    border: 1px solid black;
    position: relative;
    
    max-width: 30%;
  }

}