@import 'src/styles/vars';

.players-list {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.2em;
  background-color: white;
  bottom: 0;

  &-toggle {
    display: none;
  }

  button {
    color: #708cb3;
    position: absolute;
    height: 1em;
    background: none;
    border: none;
    top: 0;
    left: 0;
  }
}

@media (min-width: 1024px) {

  .players-list {
    border: 1px solid #708cb3;
    border-radius: 2px;
    position: absolute;
    width: 25%;
    height: 50vh;
    top: 6em;
    margin-left: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
   
    button {
     display: none;
    }
  }
}

@media (min-width: 1400px) {

  .players-list {
    border: 1px solid #96b1d6;
    position: absolute;
    width: 25%;
    height: 50vh;
    top: 9.5em;
    margin-left: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1600px) {

  .players-list {
    border: 1px solid #96b1d6;
    position: absolute;
    width: 25%;
    height: 48vh;
    top: 9em;
    margin-left: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}