@import 'src/styles/vars';

.connected-home-message {
  width: 90%;
  height: 45vh;
  margin-top: 8em;
  padding: 1em;
  border-radius: 5px;
  background-color: rgb(109, 109, 109);
  opacity: 0.9;
  animation: fadein 5s;

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &-title {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    font-size: 1.6em;
    color: white;
    z-index: 999;
  }

  &-content {
    font-family: 'Nunito', sans-serif;
    margin: 1em 0;
    text-align: justify;
    color: white;
  }
}

@media (min-width: 767px) {
  .connected-home-message {
    border: 1px solid rgb(202, 198, 198);
    width: 25em;
    height: 30em;
    margin: 2em auto;
    padding: 1em;
    border-radius: 5px;
  
    &-title {
      font-size: 1.6em;
    }
  
    &-content {
      margin: 1em 0;
      text-align: justify;
    }
  }
}

