@import 'src/styles/vars';

.connected-home-message {
  width: 90%;
  height: 45vh;
  margin-top: 2em;
  padding: 0.2em;
  border-radius: 5px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  animation: drawBorderFromCenter 4s;
  /* opacity: 0;
  animation: fadein 1s linear;
  animation-fill-mode: forwards; */
 

/*   @keyframes fadein {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    99% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  } */

  @keyframes drawBorderFromCenter {
    0% {
      background-size: 0 2px, 0 0, 100% 100%;
    }
    20% {
      background-size: 100% 2px, 100% 0, 100% 100%;
    }
    66%
    {
      background-size: 100% 2px, 100% 98%, 100% 100%;
    }
    99%
    {
      background-size: 100% 2px, 100% 98%, 0 2px;
    }
}

  &-title {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    font-size: 1.6em;
    color: black;
    z-index: 999;
    animation: appear 1s ease-in;
    animation-fill-mode: forwards;

    @keyframes appear {
      0% {
        color: black;
      }
      99% {
        color: black;
      }
      100% {
        color: black;
      }
    }
  }

  &-content {
    font-family: 'Nunito', sans-serif;
    margin: 1em 0;
    text-align: justify;
    color: black;
  }
}

.dashboard-content {
  background-color: white;
  padding: 0;
  height: 100%;
}

@media (min-width: 767px) {
  .connected-home-message {
    display: flex;
    flex-direction: column;
    width: 25em;
    height: 30em;
    margin: 2em auto;
    margin-top: 5em;
    padding: 1em;
    border-radius: 3px;
  
    &-title {
      flex: 1;
      font-size: 1.6em;
    }
  
    &-content {
      flex: 2;
      margin: 1em 0;
      text-align: justify;
    }
  }
}

@media (min-width: 1024px) {
  .connected-home-message {
    display: flex;
    flex-direction: column;
    width: 25em;
    height: 30em;
    margin: 6em auto;
    padding: 1em;
    border-radius: 3px;
  
    &-title {
      flex: 1;
      font-size: 1.6em;
    }
  
    &-content {
      flex: 2;
      margin: 1em 0;
      text-align: justify;
    }
  }
}

