@import 'src/styles/vars';

.shared-view-media {
  width: 100vw;
  height: 85vh;
  background-image: url("../../../../src/assets/HPbg-mobile.jpg");
  background-size: 100%;
}

  // MEDIA QUERIES

@media (min-width: 767px) {

  .shared-view-media {
    width: 40vh;
    height: 60vh;
    margin: 0 auto;
    margin-top: 2em;
    background-image: url("../../../../src/assets/HPbg1.jpg");
    background-size: cover;
  }
}

@media (min-width: 1024px) {

  .shared-view-media {
    width: 50vh;
    height: 50vh;
    margin: 0 auto;
    margin-top: 2em;
  
  }
}

@media (min-width: 1600px) {

  .shared-view-media {
    width: 70vh;
    height: 45vh;
    margin: 0 auto;
    margin-top: 2em;
  
  }
}
