@import 'src/styles/vars';

.shared-view {
  width: 100%;
 /*  min-height: 100%; */
  background-color: $main-color;

  &-picture {
    width: 100vw;
    height: 90vh;
  }
}

.shared-stars {
  display: none;
}

.shared-view-media {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  /* background-image: url("../../../../src/assets/HPbg-mobile.jpg");
  background-size: 100%; */

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

  // MEDIA QUERIES

@media (min-width: 767px) {

  .shared-view {
    width: 100%;
    height: 100vh;
    background-color: $main-color;
  
    &-picture {
      width: 100vw;
      height: 100vh;
    }
  }
  
  .shared-stars {
    display: none;
  }

  .shared-view-media {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2em;
    background-size: cover;
    background-color: black;
  }
}

@media (min-width: 1024px) {

  .shared-view {
    width: 45%;
    min-height: 15%;
    height: 30%;
    margin: 2em auto;
    border: 0.2em dashed $main-color;
    padding: .5em;
    background-color: none;

    &-picture {
      width: 100vw;
      height: 100vh;
    }
  }

  .shared-view-media {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2em;
    background-size: cover;
    background-color: none;
  }
}

@media (min-width: 1600px) {

  .shared-view {
    max-width: 45%;
    max-height: 90%;
    margin: 0 auto;
    border: 0.2em dashed $main-color;
    padding: .5em;
  }

  .shared-view-media {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    left: 50%;
    background-size: cover;
    border: 0.2em solid $main-color;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  .shared-view-line {
    position: absolute;
    width: 30%;
    height: 0.2em;
    background-color: $main-color;
    top: 50%;
    left: 35%;
  }

  .shared-stars {
    display: block;
    position: absolute;
    top: 10%;
    right: 3%;

    img {
      width: 15%;
    }
  }
}
