@import 'src/styles/vars';

.dices-history {
  position:absolute;
  width: 100vw;
  height: 62vh;
  background-color: white;
  opacity: 0.9;
  top: 40%;

  h1 {
    display: inline-block;
    font-family: 'Chuck Noon';
    font-size: 2.8em;
    color: $seventh-color;
    margin-top: 0.4em;
    background-color: $main-color;
    padding: 0.5em;
    border: 0.1em dashed $seventh-color;
  }

  &-content {
    border: 0.4em solid $seventh-color;
    position: relative;
    height: 50%;
    margin: 0 auto;
    top: 4em;
    overflow: scroll;
    margin: 1em;
    padding: 0.1em;

    &-border {
      height: 100%;
      border: 0.2em solid $main-color;
    }
  }

  &-toggle {
    display: none;
    h1 {
      font-family: 'Black Quality';
      font-size: 1.2em;
      color: $seventh-color;
    }
  }
}

@media (min-width: 767px) {

  .dices-history {
    position:absolute;
    width: 30%;
    height: 18%;
    top: 72%;
    left: 60%;
    padding: 0.5em;
    font-weight: bold;
 
    &-toggle {
      display: none;
    }
  }
}

@media (min-width: 1024px) {

  .dices-history {
    position: relative;
    width: 15vw;
    height: 30vh;
    top: 30%;
    left: 0;

    &-toggle {
      display: block;
      margin-right: 1em;
      background-color: transparent;
      border: 0.3em solid $main-color;
    }

    &-content {
      position: relative;
      width: 100%;
      height: 70%;
      margin: 0 auto;
      top: 1em;
      overflow: scroll;
      padding: 0.1em;
      border: none;
      font-size: 0.8em;
  
      &-border {
        height: 100%;
        border: none;
      }
    }
  
    &-toggle {
      display: block;
      border: 0.3em double $main-color;
      
      h1 {
        font-family: 'Black Quality';
        font-size: 1.4em;
        color: $first-color;
      }
    }
  }
}

@media (min-width: 1600px) {

  .dices-history {
    width: 17%;
    height: 70%;
    background-color: transparent;
    opacity: 0.9;
    top: 15%;

    h1 {
      display: inline-block;
      font-family: 'Chuck Noon';
      font-size: 3em;
      margin-top: 0.4em;
      background-color: $main-color;
      padding: 0.5em;

    }
  
    &-content {
      position: relative;
      width: 100%;
      height: 80%;
      margin: 0 auto;
      top: 2em;
      overflow: scroll;
      padding: 0.1em;
      border: none;
      font-size: 0.8em;
  
      &-border {
        height: 100%;
        border: none;
      }
    }
  
    &-toggle {
      display: block;
      border: 0.3em double $main-color;
      
      h1 {
        font-family: 'Black Quality';
        font-size: 1.4em;
        color: $first-color;
      }
    }
  }
  
}