.dices-history {
  position:absolute;
  width: 100vw;
  height: 50vh;
  background-color: white;
  border: 0.2em solid #708cb3;
  top: 50%;

  &-toggle {
    display: none;
  }
}

@media (min-width: 767px) {

  .dices-history {
    position:absolute;
    width: 20vw;
    height: 20vh;
    background-color: white;
    border: 0.2em solid #708cb3;
    top: 80%;
    left: 60%;
    padding: 0.5em;
    color: #708cb3;
    font-weight: bold;

    &-toggle {
      display: none;
    }
  }
}

@media (min-width: 1024px) {

  .dices-history {
    position:absolute;
    width: 20vw;
    height: 30vh;
    background-color: white;
    border: 0.2em solid #708cb3;
    top: 65%;
    left: 30%;

    &-toggle {
      display: block;
    }
  }
}

@media (min-width: 1600px) {

  .dices-history {
    position:absolute;
    width: 20vw;
    height: 30vh;
    background-color: #f2e9da;
    color: #494052;
    border: none;
    border-radius: 4px;
    top: 65%;
    left: 30%;

    &-toggle {
      display: block;
    }
  }
}